<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduNITE</title>

    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">

</head>

<!-- Cabeçalho -->
<header>
    <div id="header-section" class="flex-content">
        <a><img src="../images/Logo.svg"></a>

        <p class="header-option"><a>Submeter Curso</a></p>
        <p class="header-option"><a>Cursos</a></p>
        <p class="header-option"><a>Trilhas de Aprendizado</a></p>
        <p class="header-option"><a>Fórum</a></p>

        <a><img id="header-profile-picture" src="../images/ProfilePicture.svg"></a>
    </div>
</header>

<body>
    <div id="upper-section" class="flex-content">
        <div id="continue-courses">
            <p class="title-block">Cursos em Andamento</p>
            <div class="content-block">
                <div class="course-display">
                    <img src="../images/Logo Python Course.svg">
                    <p>Curso Introdutório de Python</p>
                    <button class="course-button">Continuar</button>
                </div>

                <div class="course-display">
                    <img src="../images/Logo Photoshop Course.svg">
                    <p>Curso de Photoshop</p>
                    <button class="course-button">Continuar</button>
                </div>

            </div>
        </div>
        <div id="next-courses">
            <p class="title-block">Cursos Recomendados</p>

            <div class="content-block">
                <div class="course-display">
                    <img src="../images/Logo Laravel Course.svg">  
                    <p>Curso de Laravel</p>
                    <button class="course-button">Iniciar</button>
                </div>

                <div class="course-display">
                    <img src="../images/Logo Python Course.svg">
                    <p>Curso Avançado de Python</p>
                    <button class="course-button">Iniciar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="lower-section" class="flex-content">
        <p id="lower-title">Todos os Cursos</p>

        <div id="all-courses">
            <div class="course-preview">
                <img src="../images/Logo Python Course.svg">
                <p>Curso Avançado de Python</p>
                <button class="course-button">Iniciar</button>
            </div>

            <div class="course-preview">
                <img src="../images/Logo Python Course.svg">
                <p>Curso Avançado de Python</p>
                <button class="course-button">Iniciar</button>
            </div>

            <div class="course-preview">
                <img src="../images/Logo Python Course.svg">
                <p>Curso Avançado de Python</p>
                <button class="course-button">Iniciar</button>
            </div>

            <div class="course-preview">
                <img src="../images/Logo Python Course.svg">
                <p>Curso Avançado de Python</p>
                <button class="course-button">Iniciar</button>
            </div>

            <div class="course-preview">
                <img src="../images/Logo Python Course.svg">
                <p>Curso Avançado de Python</p>
                <button class="course-button">Iniciar</button>
            </div>
        </div>
    </div>
</body>

</html>